<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login & Registration</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% load static %}
        <link rel="stylesheet" href="{% static 'style1.css' %}">
        

    </head>
    <body>
        <div class="container-fluid pb-5" style="background-color: rgb(227, 242, 243);">
            <div class="jumbotron jumbotron-fluid bg-transparent">
                <div class="container">
                    <h1 class="display-6 text-center">Welome To Login and Registration</h1>
                    <hr class="mt-4" style="border:  1px solid rgb(33, 167, 167);">
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <h2 class="m-3">Registration</h2>
                    {% if request.session.send == "register" %}
                    {% for message in messages %}
                        <p style="color: red;">{{message}}</p>
                    {% endfor %}
                    {% endif %}
                    <form action="/register" method="POST">
                        {% csrf_token %}
                        <label class="mr-4" for="">First Name</label>
                        <input type="text" name="first_name" value="{{request.session.last_name}}"><br>
                        <label class="mr-4" for="">Last Name</label>
                        <input type="text" name="last_name" value="{{request.session.last_name}}"><br>
                        <label class="mr-3" for="">Birthday</label>
                        <input class="ml-4" type="date" name="birthday" value="{{request.session.birthday}}"><br>
                        <label class="mr-3" for="">Email</label>
                        <input class="ml-5" type="text" name="email" value="{{request.session.email}}"><br>
                        <label class="mr-4" for="">Password</label>
                        <input class="ml-2" type="password" name="password"><br>
                        <label class="mr-3" for="">Confirm PW</label>
                        <input type="password" name="confirm_pw"><br>
                        <input type="submit" class="btn btn-secondary mt-4" value="Register">
                    </form>
                </div>
                <div class="col text-center">
                    <h2 class="m-3">Login</h2>
                        {% if request.session.send == "login" %}
                        {% for message in messages %}
                            <p style="color: red;">{{message}}</p>
                        {% endfor %}
                        {% endif %}
                    <form action="/login" method="POST">
                        {% csrf_token %}
                        <label class="mr-5" for="">Email</label>
                        <input type="text" name="email"><br>
                        <label class="mr-3" for="">Password</label>
                        <input type="password" name="password"><br>
                        <input type="submit" class="btn btn-secondary mt-4" value="Log In">
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>